<a href="https://colab.research.google.com/github/Krish5986/Project_Samarth_Q_and_A/blob/main/EDA_IMD_Rainfall.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
rainfall_df = pd.read_excel('/content/drive/MyDrive/My_Projects/Build_For_Bharat/Sub_Division_IMD_2017.xlsx')
rainfall_df

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,JF,MAM,JJAS,OND
0,Andaman & Nicobar Islands,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,Andaman & Nicobar Islands,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,Andaman & Nicobar Islands,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,Andaman & Nicobar Islands,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,Andaman & Nicobar Islands,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4183,Lakshadweep,2013,26.2,34.4,37.5,5.3,88.3,426.2,296.4,154.4,180.0,72.8,78.1,26.7,1426.3,60.6,131.1,1057.0,177.6
4184,Lakshadweep,2014,53.2,16.1,4.4,14.9,57.4,244.1,116.1,466.1,132.2,169.2,59.0,62.3,1395.0,69.3,76.7,958.5,290.5
4185,Lakshadweep,2015,2.2,0.5,3.7,87.1,133.1,296.6,257.5,146.4,160.4,165.4,231.0,159.0,1642.9,2.7,223.9,860.9,555.4
4186,Lakshadweep,2016,59.6,12.1,3.2,2.6,77.4,321.1,262.6,86.2,75.6,58.6,32.0,74.7,1065.7,71.7,83.2,745.4,165.4
4187,Lakshadweep,2017,21.3,0.9,100.2,1.8,145.7,521.9,164.2,206.2,216.0,137.1,63.5,160.1,1738.9,22.2,247.8,1108.3,360.7

In [ ]:
rainfall_df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,JF,MAM,JJAS,OND
0,Andaman & Nicobar Islands,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,Andaman & Nicobar Islands,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,Andaman & Nicobar Islands,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,Andaman & Nicobar Islands,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,Andaman & Nicobar Islands,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8

In [ ]:
rainfall_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4188 entries, 0 to 4187
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SUBDIVISION  4188 non-null   object
 1   YEAR         4188 non-null   int64
 2   JAN          4184 non-null   float64
 3   FEB          4185 non-null   float64
 4   MAR          4182 non-null   float64
 5   APR          4184 non-null   float64
 6   MAY          4185 non-null   float64
 7   JUN          4183 non-null   float64
 8   JUL          4181 non-null   float64
 9   AUG          4184 non-null   float64
 10  SEP          4182 non-null   float64
 11  OCT          4181 non-null   float64
 12  NOV          4177 non-null   float64
 13  DEC          4178 non-null   float64
 14  ANNUAL       4162 non-null   float64
 15  JF           4182 non-null   float64
 16  MAM          4179 non-null   float64
 17  JJAS         4178 non-null   float64
 18  OND          4175 non-null   float64
dtypes: float64(17), int64(1), object(1)
memory usage: 621.8+ KB

#Rename Columns

In [ ]:
rename_mapping = {
    "SUBDIVISION" : "state_name",
    "YEAR":"crop_year",
    "ANNUAL" : "annual_rainfall_mm",
    "MAM": "summer_rainfall",
    "JJAS" : "kharif_season_rainfall",
    "OND" : "rabi_start_rainfall",
}

rainfall_df.rename(columns = rename_mapping,inplace = True)
print(rainfall_df.head()[['state_name','crop_year','annual_rainfall_mm']].head())

                  state_name  crop_year  annual_rainfall_mm
0  Andaman & Nicobar Islands       1901              3373.2
1  Andaman & Nicobar Islands       1902              3520.7
2  Andaman & Nicobar Islands       1903              2957.4
3  Andaman & Nicobar Islands       1904              3079.6
4  Andaman & Nicobar Islands       1905              2566.7

In [ ]:
rainfall_col = rainfall_df.columns.tolist()
rainfall_col

['state_name',
 'crop_year',
 'JAN',
 'FEB',
 'MAR',
 'APR',
 'MAY',
 'JUN',
 'JUL',
 'AUG',
 'SEP',
 'OCT',
 'NOV',
 'DEC',
 'annual_rainfall_mm',
 'JF',
 'summer_rainfall',
 'kharif_season_rainfall',
 'rabi_start_rainfall']

#Handle Missing Values

In [ ]:
key_rainfall_cols = ['annual_rainfall_mm','kharif_season_rainfall','rabi_start_rainfall']

#Drop rows where rainfall metrics are missing
rainfall_df_cleaned = rainfall_df.dropna(subset=key_rainfall_cols).copy()

In [ ]:
print(f"Original Shape: {rainfall_df.shape}")
print(f"Cleaned Shape: {rainfall_df_cleaned.shape}")

Original Shape: (4188, 19)
Cleaned Shape: (4162, 19)

In [ ]:
#Recheck the nulls again
print("Null values check after cleaning: ")
print(rainfall_df_cleaned[key_rainfall_cols].isnull().sum())

Null values check after cleaning:
annual_rainfall_mm        0
kharif_season_rainfall    0
rabi_start_rainfall       0
dtype: int64

#Standardize Geographic Names

In [ ]:
#Unique Climate State Names
print("Unique Climate State Name (First 10):")
print(rainfall_df_cleaned['state_name'].unique()[:10])

Unique Climate State Name (First 10):
['Andaman & Nicobar Islands' 'Arunachal Pradesh' 'Assam & Meghalaya'
 'Naga Mani Mizo Tripura' 'Sub Himalayan West Bengal & Sikkim'
 'Gangetic West Bengal' 'Orissa' 'Jharkhand' 'Bihar' 'East Uttar Pradesh']

In [ ]:
rainfall_df_cleaned['state_name'].unique()

array(['Andaman & Nicobar Islands', 'Arunachal Pradesh',
       'Assam & Meghalaya', 'Naga Mani Mizo Tripura',
       'Sub Himalayan West Bengal & Sikkim', 'Gangetic West Bengal',
       'Orissa', 'Jharkhand', 'Bihar', 'East Uttar Pradesh',
       'West Uttar Pradesh', 'Uttarakhand', 'Haryana Delhi & Chandigarh',
       'Punjab', 'Himachal Pradesh', 'Jammu & Kashmir', 'West Rajasthan',
       'East Rajasthan', 'West Madhya Pradesh', 'East Madhya Pradesh',
       'Gujarat Region', 'Saurashtra & Kutch', 'Konkan & Goa',
       'Madhya Maharashtra', 'Matathwada', 'Vidarbha', 'Chhattisgarh',
       'Coastal Andhra Pradesh', 'Telangana', 'Rayalseema', 'Tamil Nadu',
       'Coastal Karnataka', 'North Interior Karnataka',
       'South Interior Karnataka', 'Kerala', 'Lakshadweep'], dtype=object)

In [ ]:
# STEP 2C: Define and Apply the Mapping to Consolidate IMD Sub-divisions

# Create a mapping dictionary that translates the IMD names (Keys)
# into the desired Agricultural State Names (Values).
state_consolidation_mapping = {
    # Uttar Pradesh
    'East Uttar Pradesh': 'Uttar Pradesh',
    'West Uttar Pradesh': 'Uttar Pradesh',

    # Madhya Pradesh
    'West Madhya Pradesh': 'Madhya Pradesh',
    'East Madhya Pradesh': 'Madhya Pradesh',

    # Maharashtra
    'Konkan & Goa': 'Maharashtra', # Goa data will be included in the Maharashtra analysis
    'Madhya Maharashtra': 'Maharashtra',
    'Matathwada': 'Maharashtra', # Likely a typo for Marathwada
    'Vidarbha': 'Maharashtra',

    # Karnataka
    'Coastal Karnataka': 'Karnataka',
    'North Interior Karnataka': 'Karnataka',
    'South Interior Karnataka': 'Karnataka',

    # Gujarat
    'Gujarat Region': 'Gujarat',
    'Saurashtra & Kutch': 'Gujarat',

    # West Bengal
    'Sub Himalayan West Bengal & Sikkim': 'West Bengal', # Sikkim will be included
    'Gangetic West Bengal': 'West Bengal',

    # Rajasthan
    'West Rajasthan': 'Rajasthan',
    'East Rajasthan': 'Rajasthan',

    # Haryana
    'Haryana Delhi & Chandigarh': 'Haryana', # Delhi/Chandigarh data will be included

    # Andhra Pradesh
    'Coastal Andhra Pradesh': 'Andhra Pradesh',
    'Rayalseema': 'Andhra Pradesh',
    'Telangana': 'Andhra Pradesh', # NOTE: Telangana split from AP in 2014. If your agri data spans years before 2014, this grouping is necessary for time-series consistency.

    # Punjab
    'Punjab': 'Punjab', # No change needed, but kept for clarity

    # Other states not in agri_df (Need to be excluded or handled separately)
    # The remaining regions (e.g., Andaman, Arunachal, Assam, etc.)
    # will be left as their current name, but will naturally be excluded when we merge.
    'Orissa': 'Odisha', # Correcting the common variant name if needed
    'Naga Mani Mizo Tripura': 'North East States', # Consolidate for clarity
}

# Apply the mapping to the 'state_name' column
rainfall_df_cleaned['state_name'] = rainfall_df_cleaned['state_name'].replace(state_consolidation_mapping)

# Final step: Ensure all state names are Title Cased and stripped of whitespace
rainfall_df_cleaned['state_name'] = rainfall_df_cleaned['state_name'].str.strip().str.title()

# Final Verification
print("\nConsolidated Climate State Names (Sample):")
print(rainfall_df_cleaned['state_name'].unique())

Consolidated Climate State Names (Sample):
['Andaman & Nicobar Islands' 'Arunachal Pradesh' 'Assam & Meghalaya'
 'North East States' 'West Bengal' 'Odisha' 'Jharkhand' 'Bihar'
 'Uttar Pradesh' 'Uttarakhand' 'Haryana' 'Punjab' 'Himachal Pradesh'
 'Jammu & Kashmir' 'Rajasthan' 'Madhya Pradesh' 'Gujarat' 'Maharashtra'
 'Chhattisgarh' 'Andhra Pradesh' 'Tamil Nadu' 'Karnataka' 'Kerala'
 'Lakshadweep']

#Load the agriculture data

In [ ]:
agri_df_cleaned = pd.read_csv('/content/drive/MyDrive/My_Projects/Build_For_Bharat/agri_df.csv')

In [ ]:
##Merge the data
master_df = pd.merge(
    agri_df_cleaned,
    rainfall_df_cleaned,
    on = ['state_name','crop_year'],
    how = 'inner'
)

print("Master Dataset created and merged Successfully")
print(master_df.shape)

Master Dataset created and merged Successfully
(88537, 25)

In [ ]:
master_df

,state_name,district_name,crop_year,season,crop,area,production,corp,JAN,FEB,...,AUG,SEP,OCT,NOV,DEC,annual_rainfall_mm,JF,summer_rainfall,kharif_season_rainfall,rabi_start_rainfall
0,Uttar Pradesh,Meerut,1997,Kharif,Arhar,986.0,693.0,Arhar/Tur,6.0,0.4,...,41.5,32.1,8.1,4.1,10.8,493.3,6.4,29.7,434.3,23.0
1,Uttar Pradesh,Meerut,1997,Kharif,Arhar,986.0,693.0,Arhar/Tur,3.8,0.7,...,34.6,24.0,7.5,3.2,11.4,445.2,4.5,44.3,374.2,22.1
2,Uttar Pradesh,Meerut,1997,Kharif,Bajra,27.0,38.0,Bajra,6.0,0.4,...,41.5,32.1,8.1,4.1,10.8,493.3,6.4,29.7,434.3,23.0
3,Uttar Pradesh,Meerut,1997,Kharif,Bajra,27.0,38.0,Bajra,3.8,0.7,...,34.6,24.0,7.5,3.2,11.4,445.2,4.5,44.3,374.2,22.1
4,Uttar Pradesh,Meerut,1997,Kharif,Jowar,50.0,4.0,Jowar,6.0,0.4,...,41.5,32.1,8.1,4.1,10.8,493.3,6.4,29.7,434.3,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88532,Andhra Pradesh,Guntur,2014,Whole Year,Coconut,112.0,2428000.0,Coconut,0.2,2.9,...,205.2,146.8,29.6,10.8,0.7,746.4,3.1,141.9,560.2,41.0
88533,Andhra Pradesh,Guntur,2014,Whole Year,Coconut,112.0,2428000.0,Coconut,0.2,0.7,...,115.1,81.4,104.6,37.8,12.8,551.8,0.9,64.2,331.5,155.2
88534,Andhra Pradesh,Guntur,2014,Whole Year,Rice,285302.0,1111932.0,Rice,0.4,1.2,...,177.8,144.5,195.6,23.7,6.4,874.9,1.5,128.0,519.7,225.7
88535,Andhra Pradesh,Guntur,2014,Whole Year,Rice,285302.0,1111932.0,Rice,0.2,2.9,...,205.2,146.8,29.6,10.8,0.7,746.4,3.1,141.9,560.2,41.0
88536,Andhra Pradesh,Guntur,2014,Whole Year,Rice,285302.0,1111932.0,Rice,0.2,0.7,...,115.1,81.4,104.6,37.8,12.8,551.8,0.9,64.2,331.5,155.2

In [ ]:
#Check Numerical Data Types

print("Data Types of key Numerical Columns in Master DF: ")
print(master_df[['production','area','annual_rainfall_mm','kharif_season_rainfall']].dtypes)

Data Types of key Numerical Columns in Master DF:
production                float64
area                      float64
annual_rainfall_mm        float64
kharif_season_rainfall    float64
dtype: object

# Handle Missing Values( NaNs)

In [ ]:
#production and area, fill missing values (NaNs) with o
master_df['production'] = master_df['production'].fillna(0)
master_df['area'] = master_df['area'].fillna(0)

In [ ]:
key_rainfall_col = ['annual_rainfall_mm','kharif_season_rainfall','rabi_start_rainfall']
master_df.dropna(subset=key_rainfall_col,inplace =True)

print(f"\nFinal Master DF shape: {master_df.shape}")

Final Master DF shape: (88537, 25)

In [ ]:
# STEP 4C: Save the Final Master Dataset
# Saving to CSV for easy loading by your Q&A system components.

# NOTE: Replace the file path with your desired Google Drive location if needed.
master_df.to_csv('/content/drive/MyDrive/My_Projects/Build_For_Bharat/Combined_Agri_and_Rainfall.csv', index=False)

print("\nFinal Master Dataset saved and ready for Phase 2!")

Final Master Dataset saved and ready for Phase 2!